/* ELEMENTS
================================================== */

$gray: #707070;
$orange: #FBAE16;
$dark-gray: #363636;
$tan: #fbf5ed;
$tan-border: #f1e9dd;

.thin-divider {
	width: 40%;
	border-bottom: 1px solid rgba(194,194,194,0.7);
	margin: 0 auto;
	padding-top: 20px;
}


/* --- Tweet Box --- */

.tweet {
	
	
	h4 {
		font-size: 24px;
		font-family: 'Locator-Light', Helvetica, sans-serif;
		color: $dark-gray;		
	}


.tweet_btn {
	background-color: #5daef9;
	color: white;
	font-family: 'Locator', Helvetica, sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	letter-spacing: 1.2px;
	width: 188px;
	line-height: 52px;
	border-radius: 6px;
	height: 52px;
	padding-right: 0px;
	padding-left: 12px;
	cursor: pointer;
	
	
	background-image: url("/images/twitter.png");
	background-repeat: no-repeat;
	background-size: 14px;
	background-position: 5% 44%;
	
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;}	

.ebook_btn {
	background-color: #2ef055;
	color: white;
	font-family: 'Locator', Helvetica, sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	letter-spacing: 1.2px;
	width: 188px;
	line-height: 52px;
	border-radius: 6px;
	height: 52px;
	padding-right: 0px;
	padding-left: 12px;
	cursor: pointer;
	display: none;
	
	background-image: url("/images/ebook-btn.png");
	background-repeat: no-repeat;
	background-size: 14px;
	background-position: 5% 44%;
	
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;}

	.active {
		display: block;
	}

	.inactive {
		display: none;
	}

} //end tweet


/* --- Download Box --- */

.download-box {
	width: 100%;
	padding-bottom: 60px;
	padding-top: 50px;
	
	h2 {
		font-size: 28px;
		font-family: 'Locator-Light', Helvetica, sans-serif;
		color: #363636;
		margin-left: 4%;
		float: left;
		font-weight: 100;
		padding-top: 24px;
	}
	.download_btn {
		width: 220px;
		margin-top: 0px;
		float: right;
		margin-right: 4%;
		display: block;	
	}
}					
		

	
/* --------------- All Mobile Sizes (devices and browser) ---------------- */
  
@media only screen and (max-width: 900px) {

// Tweet

.tweet {
	
	h4 {
		text-align: center;	
	}
	
	.img-wrap {
		margin: 0 auto;
		text-align: center;		
	}

.tweet_btn {
	margin: 0 auto;
	margin-top: 20px;
	}	

.ebook_btn {
	margin: 0 auto;
	margin-top: 20px;
	
	}
}


}// end mobile styles


@media only screen and (max-width: 960px) {
   
// Download
  
.download-box {
	padding-top: 30px;
	padding-bottom: 40px;
	
	h2 {
		font-size: 26px;
		text-align: center;
		line-height: 38px;
		padding: 0px;
		float: none;
	
	}
	.download_btn {
		width: 220px;
		margin: 0 auto;
		margin-top: 20px;
		float: none;
			
	}
}  
  
} //end mobile navigation


@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}



@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}








