$orange: #FBAE16;
$tan: #fbf5ed;
$dark-gray: #363636;
$gray: #707070;

#isad_box {
	background-image: url('/images/isad-bg.JPG');	
	background-repeat: repeat-y;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 760px;
	h5 {
		margin: 0 auto;
		font-size: 20px;
		text-align: center;
		font-family: 'Locator-Light', Helvetica, sans-serif;
		padding-top: 200px;
		text-transform: uppercase;
		width: 180px;
		color: white;
		border-bottom: 2px solid white;
		#upper-nd {
			font-size: 14px;
			vertical-align: super;
			text-transform: lowercase;
		}
	}
	h1 {
		display: block;
		width: 90%;
		margin: 0 auto;
		padding-top: 40px;
		font-family: 'Locator-Light', Helvetica, sans-serif;
		color: white;
		font-weight: 100;
		opacity: 0.9;
		text-align: center;
		font-size: 50px;
	}
}


//BUTTONS

.isad_btn-box {
	width: 230px;
	text-align: center;
	margin: 40 auto;
}
.isad_btn {
	background-color: #7f8c8d;
	color: white;
	font-family: 'Locator', Helvetica, sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 18px;
	letter-spacing: 1.5px;
	width: 230px;
	line-height: 84px;
	border-radius: 6px;
	height: 80px;
	padding-right: 16px;
	padding-left: 50px;
	float: left;
	display: inline;
	background-image: url("/images/thumbs-up.png");
	background-repeat: no-repeat;
	background-size: 28px 28px;
	background-position: 6% 44%;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	}
	.isad_btn:hover {
		background-color: darken(#7f8c8d, 6%);
	}

.tw_btn {
	background-color: #55acee;
	color: white;
	font-family: 'Locator', Helvetica, sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 18px;
	letter-spacing: 1.5px;
	width: 230px;
	line-height: 84px;
	border-radius: 6px;
	height: 80px;
	padding-right: 16px;
	padding-left: 40px;
	float: left;
	display: inline;
	background-image: url("/images/twitter.png");
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-position: 6% 44%;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	}
	.tw_btn:hover {
		background-color: darken(#55acee, 6%);
	}

	#isad-section {
		padding-top: 20px;
		font-family: 'Locator-Light', Helvetica, sans-serif;
		h3 {
			color: $dark-gray;
			padding-top: 60px;
			padding-bottom: 10px;
			font-family: 'Locator-Light', Helvetica, sans-serif;
			font-weight: 100;
			text-align: center;
			margin: 0 auto;
			font-size: 30px;
			width: 90%;
			line-height: 46px;
		}
		h4 {
			color: $dark-gray;
			font-family: 'Locator-Light', Helvetica, sans-serif;
			font-weight: 100;
			padding-bottom: 20px;
			text-align: center;
			margin: 0 auto;
			font-size: 24px;
			width: 90%;
			line-height: 46px;
		}
}

.isad-highlight {
	padding-bottom: 60px;
	padding-top: 40px;
	overflow: hidden;
	h2 {
		font-size: 24px;
		font-family: 'Locator', Helvetica, sans-serif;
		color: $orange;
		font-weight: 100;
		padding-top: 40px;
	}
	h2:first-child {
		padding-top: 10px;
	}
	p {
		font-size: 16px;
		font-family: 'Locator-Light', Helvetica, sans-serif;
		color: $dark-gray;
		font-weight: 100;
		line-height: 30px;
		padding-top: 10px;
	}
	img {
		width: 100%;
		margin-left: 0px;
	}
	ul {
		list-style-image: url("/images/list-icon.png");
		color: $dark-gray;
		font-family: 'Locator-Light', Helvetica, sans-serif;
		width: 70%;
		margin-top: 20px;
		margin-left: 40px;
		font-size: 15px;
	}
	li {
		margin-top: 20px;
		padding-left: 6px;
		vertical-align: text-top;
	}
}

	
/* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {


#isad_box {
	background-image: url('/images/isad-bg.JPG');	
	background-repeat: repeat-y;
	background-size: cover;
	background-attachment: scroll;
	width: 100%;
	height: 340px;
	
	h1 {
		display: block;
		width: 90%;
		margin: 0 auto;
		padding-top: 180px;
		font-family: 'Locator-Light', Helvetica, sans-serif;
		color: white;
		font-weight: 100;
		letter-spacing: 6px;
		opacity: 0.9;
		text-align: center;
		font-size: 40px;
		}
	}	  


#isad-section {
	padding-top: 20px;
	font-family: 'Locator-Light', Helvetica, sans-serif;
	
	h3 {
		font-size: 20px;
		width: 100%;
		padding-top: 20px;	
		padding-bottom: 10px;
		
		}
	}

.isad-highlight {
	padding-top: 30px;
	
	img {
		width: 70%;
		margin-left: 15%;
		margin-top: 0px;
		}	
	img:last-child {
		padding-bottom: 30px;
	}	
}


} //end mobile style	
  
 
