$orange: #FBAE16;
$tan: #fbf5ed;
$dark-gray: #363636;
$gray: #707070;

#isad_box {
	background-image: url('/images/isad-bg.JPG');
	background-repeat: repeat-y;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 760px;
	h5 {
		margin: 0 auto;
		font-size: 20px;
		text-align: center;
		font-family: 'Locator-Light', Helvetica, sans-serif;
		padding-top: 230px;
		text-transform: uppercase;
		width: 180px;
		color: white;
		padding-bottom: 4px;
		border-bottom: 2px solid white;
		#upper-nd {
			font-size: 14px;
			vertical-align: super;
			text-transform: lowercase;
		}
	}
	h1 {
		display: block;
		width: 90%;
		margin: 0 auto;
		padding-top: 40px;
		font-family: 'Locator-Light', Helvetica, sans-serif;
		color: white;
		font-weight: 100;
		opacity: 0.9;
		text-align: center;
		font-size: 50px;
	}
	p {
		padding-top: 40px;
		text-align: center;
		font-size: 18px;
		font-family: 'Locator-Light', Helvetica, sans-serif;
		color: white;
		width: 50%;
		margin: 0 auto;
		font-weight: 100;
		line-height: 30px;
	}
}
// TIMELINE
.isad-timeline {
	margin-top: 20px;
	padding-top: 80px;
	background-color: #fff;
	.timeline-event {
		background-color: #fff;
		padding: 18px;
		border-radius: 3px;
		border: 1px solid #DEDEDE;
		box-shadow: 1px 1px 1px 1px rgba(200, 200, 200, 0.3);
	}
	#timeline {
		width: 40px;
		margin: 0 auto;
	}
	h4 {
		text-transform: uppercase;
		font-size: 13px;
		color: $gray;
		padding-bottom: 10px;
		font-family: 'Locator-Bold', Helvetica, sans-serif;
	}
	h3 {
		font-size: 20px;
		line-height: 30px;
		font-family: 'Locator', Helvetica, sans-serif;
		color: $orange;
		font-weight: 100;
	}
	p {
		font-size: 14px;
		font-family: 'Locator-Light', Helvetica, sans-serif;
		color: $dark-gray;
		font-weight: 100;
		line-height: 30px;
		padding-top: 10px;
	}
	.side {
		padding-right: 14px;
		padding-left: 14px;
	}
//FULL WIDTH
	.timeline-event#one {
		margin-top: -20px;
	}
	.timeline-event#two {
		margin-top: 230px;
	}
	.timeline-event#three {
		margin-top: 290px;
	}
	.timeline-event#four {
		margin-top: 270px;
	}
}

//BUTTONS

.isad_btn-box {
	width: 230px;
	text-align: center;
	margin: 40 auto;
}
.isad_btn {
	background-color: #7f8c8d;
	color: white;
	font-family: 'Locator', Helvetica, sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 18px;
	letter-spacing: 1.5px;
	width: 230px;
	line-height: 80px;
	border-radius: 6px;
	height: 80px;
	padding-right: 16px;
	padding-left: 16px;
	cursor: pointer;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: 28px 28px;
	background-position: 6% 44%;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	}
	.isad_btn:hover {
		background-color: darken(#7f8c8d, 6%);
	}
	.isad_btn#main-hollow {
		background: transparent;
		border: 2px solid white;
		background-image: none;
		background-repeat: no-repeat;
	}
	.isad_btn#main-hollow:hover {
		opacity: 0.6;
	}

.tw_btn {
	margin: 0px;
	background-color: #55acee;
	color: white;
	font-family: 'Locator', Helvetica, sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	letter-spacing: 1.5px;
	width: 200px;
	line-height: 72px;
	border-radius: 4px;
	height: 70px;
	padding-right: 16px;
	padding-left: 40px;
	display: inline-block;
	background-image: url("/images/twitter.png");
	background-repeat: no-repeat;
	background-size: 24px;
	background-position: 6% 46%;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	}
	.tw_btn:hover {
		background-color: darken(#55acee, 6%);
	}
	.tw_btn#email {
		background-image: url("/images/email.png");
		background-repeat: no-repeat;
		background-color: #7f8c8d;
		background-size: 24px;
		background-position: 6% 46%;
	}
	.tw_btn#email:hover {
		background-color: darken(#7f8c8d, 6%);
	}
	.tw_btn#fb {
		background-color: #3b5998;
		background-image: url("/images/fb-thick.png");
		background-repeat: no-repeat;
		background-size: 24px;
		background-position: 6% 46%;
	}
	.tw_btn#fb:hover {
		background-color: darken(#3b5998, 6%);
	}
	#isad-section {
		padding-top: 20px;
		font-family: 'Locator-Light', Helvetica, sans-serif;
		h3 {
			color: $dark-gray;
			padding-top: 60px;
			padding-bottom: 10px;
			font-family: 'Locator-Light', Helvetica, sans-serif;
			font-weight: 100;
			text-align: center;
			margin: 0 auto;
			font-size: 30px;
			width: 90%;
			line-height: 46px;
		}
		h4 {
			color: $dark-gray;
			font-family: 'Locator-Light', Helvetica, sans-serif;
			font-weight: 100;
			padding-bottom: 0px;
			text-align: center;
			margin: 0 auto;
			font-size: 24px;
			width: 90%;
			line-height: 46px;
		}
}

.isad-highlight {
	padding-bottom: 40px;
	padding-top: 40px;
	overflow: hidden;
	h1 {
		font-size: 34px;
		font-family: 'Locator', Helvetica, sans-serif;
		color: $orange;
		font-weight: 100;
		padding-top: 40px;
	}
	h2 {
		font-size: 24px;
		font-family: 'Locator', Helvetica, sans-serif;
		color: $orange;
		font-weight: 100;
		padding-top: 40px;
	}
	p {
		font-size: 16px;
		font-family: 'Locator-Light', Helvetica, sans-serif;
		color: $dark-gray;
		font-weight: 100;
		line-height: 30px;
		padding-top: 10px;
	}
	img {
		width: 100%;
		margin-left: 0px;
	}
	ul {
		list-style-image: url("/images/list-icon.png");
		color: $dark-gray;
		font-family: 'Locator-Light', Helvetica, sans-serif;
		width: 70%;
		margin-top: 20px;
		margin-left: 40px;
		font-size: 15px;
	}
	li {
		margin-top: 20px;
		padding-left: 6px;
		vertical-align: text-top;
	}
	.sub {
		padding-top: 50px;
	}
	.isad-share-box {
		text-align: center;
		padding-top: 0px;
		.share-btns {
			margin-top: 20px;
			.share {
				margin-top: 20px;
				margin-left: 30px;
			}
		}
	}
	.isad-about {
		width: 90%;
		margin: 0 auto;
		margin-top: 160px;
		padding-bottom: 20px;
	}
}

#isad-link {
		color: $orange;
		border-bottom: 1px dotted $orange;
	}

#isad-cta {
	font-size: 25px;
}

/* All Mobile Sizes (devices and browser) */
  @media only screen and (min-width: 768px) and (max-width: 960px) {

// TIMELINE-MID-MOBILE

.isad-timeline {
	margin-top: 0px;
	#timeline {
		margin: 0 auto;
		width: 20px;
		float: left;
	}
	.rightside {
		border: 1px solid white;
	}
	.leftside {
		margin-top: 00px;
	}
	h4 {
		text-transform: uppercase;
		font-size: 13px;
		color: $gray;
		padding-bottom: 10px;
		font-family: 'Locator-Bold', Helvetica, sans-serif;
	}
	h3 {
		font-size: 20px;
		font-family: 'Locator', Helvetica, sans-serif;
		color: $orange;
		font-weight: 100;
	}
	p {
		font-size: 14px;
		font-family: 'Locator-Light', Helvetica, sans-serif;
		color: $dark-gray;
		font-weight: 100;
		padding-top: 4px;
	}
//MEDIUM WIDTH
	.timeline-event#one {
		margin-top: -30px;
	}
	.timeline-event#two {
		margin-top: 42px;
	}
	.timeline-event#three {
		margin-top: 42px;
	}
	.timeline-event#four {
		margin-top: 42px;
	}
	.timeline-event {
		width: 440px;
		margin-left: 30px;
		float: left;
		display: block;
	}
.tw_btn {
	width: 100%;
	font-size: 12px;
	}
}
.isad-highlight {
	.isad-share-box {
		text-align: center;
		padding-top: 0px;
		.share-btns {
			margin-top: 20px;
			.share {
				width: 40%;
			}
			#email {
				display: none;
			}
		}
	}
}

.isad-about {

}

} //end tablet width


/* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 768px) {

#isad_box {
	background-image: url('/images/isad-bg-m.JPG');
	background-repeat: repeat-y;
	background-size: cover;
	background-attachment: scroll;
	width: 100%;
	height: 370px;
	h5 {
		padding-top: 120px;
	}
	h1 {
		display: block;
		width: 90%;
		margin: 0 auto;
		font-family: 'Locator-Light', Helvetica, sans-serif;
		color: white;
		font-weight: 300;
		letter-spacing: 3px;
		opacity: 0.9;
		text-align: center;
		font-size: 32px;
		}
		#isad-mobile-hide {
			display: none;
		}
	}

#isad-section {
	padding-top: 20px;
	font-family: 'Locator-Light', Helvetica, sans-serif;
	h3 {
		font-size: 22px;
		width: 100%;
		padding-top: 20px;
		padding-bottom: 10px;
		}
		h4 {
		font-size: 18px;
		width: 100%;
		font-weight: bold;
		}
	}

.isad-highlight {
	.isad-share-box {
		text-align: center;
		padding-top: 0px;
		.share-btns {
			margin-top: 20px;
			.share {
				margin: 0px;
				margin-top: 20px;
			}
		}
	}
}

// TIMELINE-MOBILE

.isad-timeline {
	margin-top: 60px;
	#timeline {
		margin: 0 auto;
		width: 20px;
		float: left;
	}
	.leftside {
		margin-top: -800px;
	}
	h4 {
		text-transform: uppercase;
		font-size: 13px;
		color: $gray;
		padding-bottom: 10px;
		font-family: 'Locator-Bold', Helvetica, sans-serif;
	}
	h3 {
		font-size: 20px;
		line-height: 26px;
		font-family: 'Locator', Helvetica, sans-serif;
		color: $orange;
		font-weight: 100;
	}
	p {
		font-size: 14px;
		font-family: 'Locator-Light', Helvetica, sans-serif;
		color: $dark-gray;
		font-weight: 100;
		line-height: 22px;
		padding-top: 4px;
	}
//MOBILE WIDTH
	.timeline-event#one {
		margin-top: -90px;
	}
	.timeline-event#two {
		margin-top: 20px;
	}
	.timeline-event#three {
		margin-top: 20px;
	}
	.timeline-event#four {
		margin-top: -30px;
	}
	.timeline-event {
		width: 250px;
		margin-left: 30px;
		float: left;
		display: block;
	}
}
.isad-highlight {
	.isad-share-box {
		margin-top: 0px;
	}
		h1 {
			font-size: 24px;
		}
		.share-btns {
			margin: 0px;
		}
		.share {
			margin: 0px;
			}
		.tw_btn {
			width: 80%;
		}
}


.isad-about {
		padding-top: 160px;
		padding-bottom: 0px;
	}
footer {
	height: 60px;
	overflow: hidden;
}
.thin-divider {
	padding-top: 10px;
}
} //end mobile style