$orange: #FBAE16;
$tan: #fbf5ed;
$dark-gray: #363636;

#color_box {
	background-color: $orange;
	background-image: url('/images/bg-demo.png');
	width: 100%;

		h1 {
		display: block;
		width: 90%;
		margin: 0 auto;
		padding-top: 210px;
		font-family: 'Locator-Light', Helvetica, sans-serif;
		color: white;
		font-weight: 100;
		letter-spacing: 12px;
		text-align: center;
		font-size: 90px;
	}

}

/* All Mobile Sizes (devices and browser) */
  @media only screen and (min-width: 767px) {
	 
  #color_box {
		height: 420px;	
		
	}

  #video-section {
		margin-top: 60px;
	}

} // end WIDE 

	
/* All Mobile Sizes (devices and browser) */
  @media only screen and (min-width: 461px) and (max-width: 766px) {
  
  #color_box {
		height: 320px;
			
	}

  #video-section {
		
	}

} // end MID


/* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 460px) {
  
  #color_box {
		height: 180px;	
		
	}



} // end TINY





