* {
	margin: 0px;
	padding: 0px;}

a {
	text-decoration: none;}	
	

// MASTER STYLES

@import "fonts";
@import "skeleton";


// PAGE STYLES

@import "home";
@import "about";
@import "features";
@import "resources";


// ELEMENT STYLES

@import "header";
@import "footer";
@import "elements";

@import "isad";

// ADDITIONAL STYLES

::selection {
	background: #fbae16; /* Safari */}
	
::-moz-selection {
	background: #fbae16; /* Firefox */}